.app {
  box-sizing: border-box;
  height: 100vh;
  padding: 42px 0 0;

  overflow-y: scroll;

  text-align: center;
  background-image: url('./images/backgroundImage.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.app__title {
  position: relative;
  margin: 0 0 38px;
  padding: 53px 0 0;

  font-family: 'Black Han Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;

  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #1C303A;
  opacity: 1;
}

@media (min-width: 744px) {
  .app__title {
    margin: 0 0 28px;

    font-size: 48px;
    line-height: 60px;
  }
}

@media (min-width: 1440px) {
  .app__title {
    padding: 78px 0 0;
    font-size: 64px;
    line-height: 80px;
  }
}

.app__title::before {
  content: 'Roadmap';

  position: absolute;
  left: 50%;
  bottom: 10px;

  font-family: 'Yellowtail', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 85px;
  text-transform: capitalize;
  color: #859A50;
  opacity: 0.2;

  transform: translateX(-50%);
}

@media (min-width: 744px) {
  .app__title::before {
    bottom: 7px;

    font-size: 100px;
    line-height: 106px;
  }
}

@media (min-width: 1440px) {
  .app__title::before {
    bottom: 10px;

    font-size: 140px;
    line-height: 148px;
  }
}

.app__content {
  display: flex;
  margin-left: 20px;
}

@media (min-width: 744px) {
  .app__content {
    margin-left: 93px;
  }
}

@media (min-width: 1440px) {
  .app__content {
    margin-left: 83px;
  }
}
